---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import Features from '../../components/Features.astro';
import Pricing from '../../components/Pricing.astro';
import Marketing from '../../components/Marketing.astro';
import Footer from '../../components/Footer.astro';

import { ui } from '../../i18n/ui';

export function getStaticPaths() {
  return Object.keys(ui).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
---

<Layout title="VPSHUB - Cloud Hosting & VPS" lang={lang}>
  <Navbar />
  <main>
    <Hero />
    <Features />
    <Pricing />
    <Marketing />
  </main>
  <Footer />
</Layout>
